<section
  id="nice"
  data-tool="mdnice编辑器"
  data-website="https://www.mdnice.com"
  style="
    font-size: 16px;
    color: black;
    padding: 0 10px;
    line-height: 1.6;
    word-spacing: 0px;
    letter-spacing: 0px;
    word-break: break-word;
    word-wrap: break-word;
    text-align: left;
    font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light,
      'PingFang SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -10px;
  "
>
  <hr
    data-tool="mdnice编辑器"
    style="
      height: 1px;
      margin: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      border: none;
      border-top: 1px solid black;
    "
  />
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    title: 374 期 - React 19 部分新特性前瞻 editors:
  </p>
  <ul
    data-tool="mdnice编辑器"
    style="
      margin-top: 8px;
      margin-bottom: 8px;
      padding-left: 25px;
      color: black;
      list-style-type: disc;
    "
  >
    <li>
      <section
        style="
          margin-top: 5px;
          margin-bottom: 5px;
          line-height: 26px;
          text-align: left;
          color: rgb(1, 1, 1);
          font-weight: 500;
          font-size: 15px;
          font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
            sans-serif;
        "
      >
        Zhper
      </section>
    </li>
    <li>
      <section
        style="
          margin-top: 5px;
          margin-bottom: 5px;
          line-height: 26px;
          text-align: left;
          color: rgb(1, 1, 1);
          font-weight: 500;
          font-size: 15px;
          font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
            sans-serif;
        "
      >
        TimLi
      </section>
    </li>
    <li>
      <section
        style="
          margin-top: 5px;
          margin-bottom: 5px;
          line-height: 26px;
          text-align: left;
          color: rgb(1, 1, 1);
          font-weight: 500;
          font-size: 15px;
          font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
            sans-serif;
        "
      >
        edison-hm description: React 团队分享了他们正在进行的工作。React
        编译器的工作已经取得了进展；现在它已经在 Instagram
        的生产网站上运行。我们也了解到
        <strong style="font-weight: bold; color: black"
          >React 19 即将到来</strong
        >，并将包含一些破坏性的变化，特别是为了支持像 Web Components
        这样的东西。一些最新的 React Canary 中的特性也将在 React 19
        发布。希望五月能有好消息。
      </section>
    </li>
  </ul>
  <hr
    data-tool="mdnice编辑器"
    style="
      height: 1px;
      margin: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      border: none;
      border-top: 1px solid black;
    "
  />
  <figure
    data-tool="mdnice编辑器"
    style="margin: 0; margin-top: 10px; margin-bottom: 10px"
  >
    <strong
      
      style="
        text-decoration: none;
        word-wrap: break-word;
        font-weight: bold;
        color: rgb(239, 112, 96);
        border-bottom: 1px solid rgb(239, 112, 96);
      "
      ><img
        src="https://res.cloudinary.com/cpress/image/upload/w_1280,e_sharpen:60,q_auto/utj8wjarnm0gx4nomaf1.jpg"
        alt
        style="display: block; margin: 0 auto; width: auto; max-width: 100%"
    /></strong>
  </figure>
  <h2
    data-tool="mdnice编辑器"
    style="
      margin-top: 30px;
      margin-bottom: 15px;
      font-weight: bold;
      color: black;
      font-size: 22px;
      margin: 10px auto;
      height: 40px;
      background-color: rgb(251, 251, 251);
      border-bottom: 1px solid rgb(246, 246, 246);
      overflow: hidden;
      box-sizing: border-box;
    "
  >
    <span class="prefix" style="display: none"></span
    ><span
      class="content"
      style="
        margin-left: -10px;
        display: inline-block;
        width: auto;
        height: 40px;
        background-color: rgb(33, 33, 34);
        border-bottom-right-radius: 100px;
        color: rgb(255, 255, 255);
        padding-right: 30px;
        padding-left: 30px;
        line-height: 40px;
        font-size: 16px;
      "
      >🔥 本周热门</span
    ><span class="suffix"></span>
  </h2>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    📣&nbsp;<strong style="font-weight: bold; color: black"
      ><span class="footnote-word" style="font-weight: bold; color: #ff3502"
        >React 团队分享了他们正在进行的工作</span
      ></strong
    >
    —— 距离上次
    <strong
      
      style="
        text-decoration: none;
        word-wrap: break-word;
        font-weight: bold;
        color: rgb(239, 112, 96);
        border-bottom: 1px solid rgb(239, 112, 96);
      "
      >更新</a
    >
    已经过去了十一个月，所以发生了很多事情。<strong
      
      style="
        text-decoration: none;
        word-wrap: break-word;
        font-weight: bold;
        color: rgb(239, 112, 96);
        border-bottom: 1px solid rgb(239, 112, 96);
      "
      >React 编译器</a
    >
    的工作已经取得了进展；现在它已经在 Instagram 的生产网站上运行。我们也了解到
    <strong style="font-weight: bold; color: black">React 19 即将到来</strong
    >，并将包含一些破坏性的变化，特别是为了支持像 Web Components
    这样的东西。一些最新的
    <strong
      
      style="
        text-decoration: none;
        word-wrap: break-word;
        font-weight: bold;
        color: rgb(239, 112, 96);
        border-bottom: 1px solid rgb(239, 112, 96);
      "
      >React Canary</a
    >
    中的发展也得到了覆盖。希望五月能有好消息。
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    React.js 核心团队
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    💡 如果你想了解更多关于 React 被“编译”对你可能意味着什么，Brad Westfall 的
    <strong
      
      style="
        text-decoration: none;
        word-wrap: break-word;
        font-weight: bold;
        color: rgb(239, 112, 96);
        border-bottom: 1px solid rgb(239, 112, 96);
      "
      >'React 19 将被编译'</a
    >
    进一步深入讨论了这个问题。
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    <strong style="font-weight: bold; color: black"
      ><span class="footnote-word" style="font-weight: bold; color: #ff3502"
        >2024 年的 React 趋势</span
      ></strong
    >
    —— Robin 说，最近的发展让他对 2024 年的 React
    生态系统再次感到“兴奋”，但他又看到了哪些进展呢？Astro、RSC、Vercel 和 Biome
    都有出现。
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    Robin Wieruch
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    <strong style="font-weight: bold; color: black"
      ><span class="footnote-word" style="font-weight: bold; color: #ff3502"
        >Remix Vite 现已稳定；新增 SPA 模式</span
      ></strong
    >
    —— Remix 是一个基于 React Router 构建的全栈 web 框架（<strong
      
      style="
        text-decoration: none;
        word-wrap: break-word;
        font-weight: bold;
        color: rgb(239, 112, 96);
        border-bottom: 1px solid rgb(239, 112, 96);
      "
      >完整解释</a
    >），它将应用程序编译成服务器和客户端部分，这两部分可以无缝地互操作。在
    Remix v2.7（昨天发布）中，Vite 的支持现已稳定，一个重要的增强是一个新的
    <strong
      
      style="
        text-decoration: none;
        word-wrap: break-word;
        font-weight: bold;
        color: rgb(239, 112, 96);
        border-bottom: 1px solid rgb(239, 112, 96);
      "
      >SPA 模式</a
    >，它在保持了许多 Remix 的约定和好处的同时，不需要在生产中使用 JS 服务器。
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    Mark Dalgleish 和 Pedro Cattori
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    <strong style="font-weight: bold; color: black"
      ><span class="footnote-word" style="font-weight: bold; color: #ff3502"
        >使用 React 和 Ink 构建命令行应用程序</span
      ></strong
    >
    —— 没错，React
    甚至可以创建命令行应用程序，本文并不是一个教程，更多的是介绍如何简单地制作这样一个应用程序。
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    Nico Prananta
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    <strong style="font-weight: bold; color: black"
      ><span class="footnote-word" style="font-weight: bold; color: #ff3502"
        >在 React、Gatsby 和 Next.js 中使用 Google Tag Manager Consent Mode
        v2</span
      ></strong
    >
    ——
    当别人花时间弄清楚如何实现一个既复杂又无聊的功能，并愿意大方的把其中的经验分享出来，这很值得赞扬。
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    Khash Sajadi
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    <strong style="font-weight: bold; color: black"
      ><strong
        
        style="
          text-decoration: none;
          word-wrap: break-word;
          font-weight: bold;
          color: rgb(239, 112, 96);
          border-bottom: 1px solid rgb(239, 112, 96);
        "
        >使用 PNPM Workspaces、TypeScript 和 Tailwind 设置 Monorepo</a
      ></strong
    >
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    Emmanuel Isenah
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    <strong style="font-weight: bold; color: black">快讯：</strong>
  </p>
  <ul
    data-tool="mdnice编辑器"
    style="
      margin-top: 8px;
      margin-bottom: 8px;
      padding-left: 25px;
      color: black;
      list-style-type: disc;
    "
  >
    <li>
      <section
        style="
          margin-top: 5px;
          margin-bottom: 5px;
          line-height: 26px;
          text-align: left;
          color: rgb(1, 1, 1);
          font-weight: 500;
          font-size: 15px;
          font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
            sans-serif;
        "
      >
        <p
          style="
            padding-top: 8px;
            padding-bottom: 8px;
            margin: 0;
            color: black;
            box-sizing: border-box;
            margin-bottom: 16px;
            font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial,
              freesans, sans-serif;
            font-size: 15px;
            text-align: start;
            white-space: normal;
            text-size-adjust: auto;
            line-height: 1.75em;
          "
        >
          🤔 Andy Gallagher 在思考：<strong
            
            style="
              text-decoration: none;
              word-wrap: break-word;
              font-weight: bold;
              color: rgb(239, 112, 96);
              border-bottom: 1px solid rgb(239, 112, 96);
            "
            >React Suspense 真的值得我们去大费周章吗？</a
          >
        </p>
      </section>
    </li>
    <li>
      <section
        style="
          margin-top: 5px;
          margin-bottom: 5px;
          line-height: 26px;
          text-align: left;
          color: rgb(1, 1, 1);
          font-weight: 500;
          font-size: 15px;
          font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
            sans-serif;
        "
      >
        <p
          style="
            padding-top: 8px;
            padding-bottom: 8px;
            margin: 0;
            color: black;
            box-sizing: border-box;
            margin-bottom: 16px;
            font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial,
              freesans, sans-serif;
            font-size: 15px;
            text-align: start;
            white-space: normal;
            text-size-adjust: auto;
            line-height: 1.75em;
          "
        >
          📅 React Conf 2024
          开启了其门票抽签，以公平地向可能的参与者分发门票。<strong
            
            style="
              text-decoration: none;
              word-wrap: break-word;
              font-weight: bold;
              color: rgb(239, 112, 96);
              border-bottom: 1px solid rgb(239, 112, 96);
            "
            >你可以在这里参与抽签</a
          >，直到 2 月 28
          日。活动将于今年五月在拉斯维加斯附近举行。如果你愿意，也可以<strong
            
            style="
              text-decoration: none;
              word-wrap: break-word;
              font-weight: bold;
              color: rgb(239, 112, 96);
              border-bottom: 1px solid rgb(239, 112, 96);
            "
            >提交演讲提案</a
          >。
        </p>
      </section>
    </li>
    <li>
      <section
        style="
          margin-top: 5px;
          margin-bottom: 5px;
          line-height: 26px;
          text-align: left;
          color: rgb(1, 1, 1);
          font-weight: 500;
          font-size: 15px;
          font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
            sans-serif;
        "
      >
        <p
          style="
            padding-top: 8px;
            padding-bottom: 8px;
            margin: 0;
            color: black;
            box-sizing: border-box;
            margin-bottom: 16px;
            font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial,
              freesans, sans-serif;
            font-size: 15px;
            text-align: start;
            white-space: normal;
            text-size-adjust: auto;
            line-height: 1.75em;
          "
        >
          🫡 Marc Grabanski
          <strong
            
            style="
              text-decoration: none;
              word-wrap: break-word;
              font-weight: bold;
              color: rgb(239, 112, 96);
              border-bottom: 1px solid rgb(239, 112, 96);
            "
            >对 Next.js 和 Vercel 表示敬意</a
          >。
        </p>
      </section>
    </li>
    <li>
      <section
        style="
          margin-top: 5px;
          margin-bottom: 5px;
          line-height: 26px;
          text-align: left;
          color: rgb(1, 1, 1);
          font-weight: 500;
          font-size: 15px;
          font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
            sans-serif;
        "
      >
        <p
          style="
            padding-top: 8px;
            padding-bottom: 8px;
            margin: 0;
            color: black;
            box-sizing: border-box;
            margin-bottom: 16px;
            font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial,
              freesans, sans-serif;
            font-size: 15px;
            text-align: start;
            white-space: normal;
            text-size-adjust: auto;
            line-height: 1.75em;
          "
        >
          <strong
            
            style="
              text-decoration: none;
              word-wrap: break-word;
              font-weight: bold;
              color: rgb(239, 112, 96);
              border-bottom: 1px solid rgb(239, 112, 96);
            "
            >▶️ 你的 React 组件太大了吗</a
          >？ Jack Herrington 问道。
        </p>
      </section>
    </li>
  </ul>
  <h2
    data-tool="mdnice编辑器"
    style="
      margin-top: 30px;
      margin-bottom: 15px;
      font-weight: bold;
      color: black;
      font-size: 22px;
      margin: 10px auto;
      height: 40px;
      background-color: rgb(251, 251, 251);
      border-bottom: 1px solid rgb(246, 246, 246);
      overflow: hidden;
      box-sizing: border-box;
    "
  >
    <span class="prefix" style="display: none"></span
    ><span
      class="content"
      style="
        margin-left: -10px;
        display: inline-block;
        width: auto;
        height: 40px;
        background-color: rgb(33, 33, 34);
        border-bottom-right-radius: 100px;
        color: rgb(255, 255, 255);
        padding-right: 30px;
        padding-left: 30px;
        line-height: 40px;
        font-size: 16px;
      "
      >🛠&nbsp; 代码与工具</span
    ><span class="suffix"></span>
  </h2>
  <figure
    data-tool="mdnice编辑器"
    style="margin: 0; margin-top: 10px; margin-bottom: 10px"
  >
    <strong
      
      style="
        text-decoration: none;
        word-wrap: break-word;
        font-weight: bold;
        color: rgb(239, 112, 96);
        border-bottom: 1px solid rgb(239, 112, 96);
      "
      ><img
        src="https://res.cloudinary.com/cpress/image/upload/w_1280,e_sharpen:60,q_auto/btfe0klex8ayczes6jvu.jpg"
        alt
        style="display: block; margin: 0 auto; width: auto; max-width: 100%"
    /></strong>
  </figure>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    <strong style="font-weight: bold; color: black"
      ><span class="footnote-word" style="font-weight: bold; color: #ff3502"
        >react-print-pdf：一个用于 PDF 和打印文档的 UI 工具包</span
      ></strong
    >
    —— 一个用于使用 React 和 JSX 中的组件构建和生成 PDF 的工具。它在背后使用
    Onedoc 或 Prince XML 进行最终的 PDF 生成，所以你的实际效果可能会有所不同。
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    Onedoc Labs
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    <strong style="font-weight: bold; color: black"
      ><span class="footnote-word" style="font-weight: bold; color: #ff3502"
        >Redwood v7.0：React + GraphQL 应用框架</span
      ></strong
    >
    ——
    <strong
      
      style="
        text-decoration: none;
        word-wrap: break-word;
        font-weight: bold;
        color: rgb(239, 112, 96);
        border-bottom: 1px solid rgb(239, 112, 96);
      "
      >Redwood</a
    >
    在 React-based 框架领域中经常被忽视。它是一个全栈 Web
    框架，采取了一种有主见的方式，将 React、GraphQL、Prisma、TypeScript
    等集成在一起，关注尽可能快地构建完整的应用。v7 包括一个名为
    <em style="font-style: italic; color: black">Redwood Studio</em>
    的新的可观察性工具，包括
    <em style="font-style: italic; color: black">实时</em> GraphQL
    功能，以及更多。
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    RedwoodJS 社区
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    <strong style="font-weight: bold; color: black"
      ><span class="footnote-word" style="font-weight: bold; color: #ff3502"
        >React Virtuoso v4.7：用于渲染大量数据集的组件</span
      ></strong
    >
    —— 用于虚拟列表 /
    表格的组件，可以有效（和懒加载）地处理大数据集。幸运的是，主页上有一些实时的例子。<strong
      
      style="
        text-decoration: none;
        word-wrap: break-word;
        font-weight: bold;
        color: rgb(239, 112, 96);
        border-bottom: 1px solid rgb(239, 112, 96);
      "
      >GitHub 仓库</a
    >。
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    Petyo Ivanov
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    <strong style="font-weight: bold; color: black"
      ><span class="footnote-word" style="font-weight: bold; color: #ff3502"
        >React Tag Autocomplete v7.2</span
      ></strong
    >
    ——
    一个灵活、易访问的标签组件，可以方便地引导用户在输入标签时选择正确的方向。查看
    <strong
      
      style="
        text-decoration: none;
        word-wrap: break-word;
        font-weight: bold;
        color: rgb(239, 112, 96);
        border-bottom: 1px solid rgb(239, 112, 96);
      "
      >在线演示</a
    >
    来看看它的实际效果。
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    Matt Hinchliffe
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    <strong style="font-weight: bold; color: black"
      ><span class="footnote-word" style="font-weight: bold; color: #ff3502"
        >react-document-picture-in-picture：一个用于实验性 Web
        Picture-in-Picture API 的组件</span
      ></strong
    >
    —— 尽管
    <em style="font-style: italic; color: black"
      >Document Picture-in-Picture API</em
    >
    还没有得到全面的
    <strong
      
      style="
        text-decoration: none;
        word-wrap: break-word;
        font-weight: bold;
        color: rgb(239, 112, 96);
        border-bottom: 1px solid rgb(239, 112, 96);
      "
      >浏览器支持</a
    >，但这是一个机会，如果你想看到某些内容 '保持在顶部'，可以在 React
    中试试看。这里有
    <strong
      
      style="
        text-decoration: none;
        word-wrap: break-word;
        font-weight: bold;
        color: rgb(239, 112, 96);
        border-bottom: 1px solid rgb(239, 112, 96);
      "
      >一个在线演示</a
    >。
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    Martin Shaw
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    <strong style="font-weight: bold; color: black"
      ><span class="footnote-word" style="font-weight: bold; color: #ff3502"
        >react-use-wizard v2.3：一个步骤式向导构建器</span
      ></strong
    >
    ——
    <strong
      
      style="
        text-decoration: none;
        word-wrap: break-word;
        font-weight: bold;
        color: rgb(239, 112, 96);
        border-bottom: 1px solid rgb(239, 112, 96);
      "
      >主页上有一些例子</a
    >。
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    Jonas De Vrient
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    ▶ &nbsp;<strong style="font-weight: bold; color: black"
      ><span class="footnote-word" style="font-weight: bold; color: #ff3502"
        >来看看你是不是够复古？一个介绍在 React
        中重建文本冒险类游戏引擎的视频</span
      ></strong
    >
    —— 我们偶然发现这个有趣的于一年前发布的视频，这是 React
    又一个非同寻常的使用案例。这既是文本冒险游戏的基础知识的入门（我们理解，不是所有的人都和我们一样老……），又是开发者如何在
    React 中建模文本冒险概念的展示。
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    Mark Makes Stuff
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    💡 如果你不想看视频，这里有
    <strong
      
      style="
        text-decoration: none;
        word-wrap: break-word;
        font-weight: bold;
        color: rgb(239, 112, 96);
        border-bottom: 1px solid rgb(239, 112, 96);
      "
      >一个相关的博客文章</a
    >
    和
    <strong
      
      style="
        text-decoration: none;
        word-wrap: break-word;
        font-weight: bold;
        color: rgb(239, 112, 96);
        border-bottom: 1px solid rgb(239, 112, 96);
      "
      >一个带有代码的 GitHub 仓库</a
    >。
  </p>
  <p
    data-tool="mdnice编辑器"
    style="
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      color: black;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
        sans-serif;
      font-size: 15px;
      text-align: start;
      white-space: normal;
      text-size-adjust: auto;
      line-height: 1.75em;
    "
  >
    <strong style="font-weight: bold; color: black">版本发布：</strong>
  </p>
  <ul
    data-tool="mdnice编辑器"
    style="
      margin-top: 8px;
      margin-bottom: 8px;
      padding-left: 25px;
      color: black;
      list-style-type: disc;
    "
  >
    <li>
      <section
        style="
          margin-top: 5px;
          margin-bottom: 5px;
          line-height: 26px;
          text-align: left;
          color: rgb(1, 1, 1);
          font-weight: 500;
          font-size: 15px;
          font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
            sans-serif;
        "
      >
        <p
          style="
            padding-top: 8px;
            padding-bottom: 8px;
            margin: 0;
            color: black;
            box-sizing: border-box;
            margin-bottom: 16px;
            font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial,
              freesans, sans-serif;
            font-size: 15px;
            text-align: start;
            white-space: normal;
            text-size-adjust: auto;
            line-height: 1.75em;
          "
        >
          <strong style="font-weight: bold; color: black"
            ><strong
              
              style="
                text-decoration: none;
                word-wrap: break-word;
                font-weight: bold;
                color: rgb(239, 112, 96);
                border-bottom: 1px solid rgb(239, 112, 96);
              "
              >react-intersection-observer v9.8</a
            ></strong
          >
          – 使用 Intersection Observer API 当元素进入或离开视口时进行操作。
        </p>
      </section>
    </li>
    <li>
      <section
        style="
          margin-top: 5px;
          margin-bottom: 5px;
          line-height: 26px;
          text-align: left;
          color: rgb(1, 1, 1);
          font-weight: 500;
          font-size: 15px;
          font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
            sans-serif;
        "
      >
        <p
          style="
            padding-top: 8px;
            padding-bottom: 8px;
            margin: 0;
            color: black;
            box-sizing: border-box;
            margin-bottom: 16px;
            font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial,
              freesans, sans-serif;
            font-size: 15px;
            text-align: start;
            white-space: normal;
            text-size-adjust: auto;
            line-height: 1.75em;
          "
        >
          <strong style="font-weight: bold; color: black"
            ><strong
              
              style="
                text-decoration: none;
                word-wrap: break-word;
                font-weight: bold;
                color: rgb(239, 112, 96);
                border-bottom: 1px solid rgb(239, 112, 96);
              "
              >React Native Boilerplate v4.1</a
            ></strong
          >
          – 一个 RN 应用的启动模板。
        </p>
      </section>
    </li>
    <li>
      <section
        style="
          margin-top: 5px;
          margin-bottom: 5px;
          line-height: 26px;
          text-align: left;
          color: rgb(1, 1, 1);
          font-weight: 500;
          font-size: 15px;
          font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
            sans-serif;
        "
      >
        <p
          style="
            padding-top: 8px;
            padding-bottom: 8px;
            margin: 0;
            color: black;
            box-sizing: border-box;
            margin-bottom: 16px;
            font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial,
              freesans, sans-serif;
            font-size: 15px;
            text-align: start;
            white-space: normal;
            text-size-adjust: auto;
            line-height: 1.75em;
          "
        >
          <strong style="font-weight: bold; color: black"
            ><strong
              
              style="
                text-decoration: none;
                word-wrap: break-word;
                font-weight: bold;
                color: rgb(239, 112, 96);
                border-bottom: 1px solid rgb(239, 112, 96);
              "
              >React Native Vision Camera v3.9</a
            ></strong
          >
          – 强大的相机控制。
        </p>
      </section>
    </li>
    <li>
      <section
        style="
          margin-top: 5px;
          margin-bottom: 5px;
          line-height: 26px;
          text-align: left;
          color: rgb(1, 1, 1);
          font-weight: 500;
          font-size: 15px;
          font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
            sans-serif;
        "
      >
        <p
          style="
            padding-top: 8px;
            padding-bottom: 8px;
            margin: 0;
            color: black;
            box-sizing: border-box;
            margin-bottom: 16px;
            font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial,
              freesans, sans-serif;
            font-size: 15px;
            text-align: start;
            white-space: normal;
            text-size-adjust: auto;
            line-height: 1.75em;
          "
        >
          <strong style="font-weight: bold; color: black"
            ><strong
              
              style="
                text-decoration: none;
                word-wrap: break-word;
                font-weight: bold;
                color: rgb(239, 112, 96);
                border-bottom: 1px solid rgb(239, 112, 96);
              "
              >react-native-bootsplash v5.4</a
            ></strong
          >
          – 在启动过程中显示启动屏。
        </p>
      </section>
    </li>
    <li>
      <section
        style="
          margin-top: 5px;
          margin-bottom: 5px;
          line-height: 26px;
          text-align: left;
          color: rgb(1, 1, 1);
          font-weight: 500;
          font-size: 15px;
          font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
            sans-serif;
        "
      >
        <p
          style="
            padding-top: 8px;
            padding-bottom: 8px;
            margin: 0;
            color: black;
            box-sizing: border-box;
            margin-bottom: 16px;
            font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial,
              freesans, sans-serif;
            font-size: 15px;
            text-align: start;
            white-space: normal;
            text-size-adjust: auto;
            line-height: 1.75em;
          "
        >
          <strong style="font-weight: bold; color: black"
            ><strong
              
              style="
                text-decoration: none;
                word-wrap: break-word;
                font-weight: bold;
                color: rgb(239, 112, 96);
                border-bottom: 1px solid rgb(239, 112, 96);
              "
              >React Stripe.js v2.5</a
            ></strong
          >
          – 用于 Stripe.js 和 Stripe Elements 的组件。
        </p>
      </section>
    </li>
    <li>
      <section
        style="
          margin-top: 5px;
          margin-bottom: 5px;
          line-height: 26px;
          text-align: left;
          color: rgb(1, 1, 1);
          font-weight: 500;
          font-size: 15px;
          font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
            sans-serif;
        "
      >
        <p
          style="
            padding-top: 8px;
            padding-bottom: 8px;
            margin: 0;
            color: black;
            box-sizing: border-box;
            margin-bottom: 16px;
            font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial,
              freesans, sans-serif;
            font-size: 15px;
            text-align: start;
            white-space: normal;
            text-size-adjust: auto;
            line-height: 1.75em;
          "
        >
          <strong style="font-weight: bold; color: black"
            ><strong
              
              style="
                text-decoration: none;
                word-wrap: break-word;
                font-weight: bold;
                color: rgb(239, 112, 96);
                border-bottom: 1px solid rgb(239, 112, 96);
              "
              >React Share v5.1</a
            ></strong
          >
          – 社交媒体分享按钮。
        </p>
      </section>
    </li>
    <li>
      <section
        style="
          margin-top: 5px;
          margin-bottom: 5px;
          line-height: 26px;
          text-align: left;
          color: rgb(1, 1, 1);
          font-weight: 500;
          font-size: 15px;
          font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
            sans-serif;
        "
      >
        <p
          style="
            padding-top: 8px;
            padding-bottom: 8px;
            margin: 0;
            color: black;
            box-sizing: border-box;
            margin-bottom: 16px;
            font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial,
              freesans, sans-serif;
            font-size: 15px;
            text-align: start;
            white-space: normal;
            text-size-adjust: auto;
            line-height: 1.75em;
          "
        >
          <strong style="font-weight: bold; color: black"
            ><strong
              
              style="
                text-decoration: none;
                word-wrap: break-word;
                font-weight: bold;
                color: rgb(239, 112, 96);
                border-bottom: 1px solid rgb(239, 112, 96);
              "
              >MDX v3.0.1</a
            ></strong
          >
          – 组件时代的 Markdown。
        </p>
      </section>
    </li>
  </ul>
</section>
